<div class="bua bua--dashboard" ng-controller="Our.Umbraco.BulkUserAdmin.DashboardController">
    <div class="bua-toolbar">
        <div class="bua-toolbar__left">{{selectedUsers.length}} Users Selected</div>
        <div class="bua-toolbar__right">
            <button class="btn" ng-click="doUpdate()" ng-class="{'btn-success':selectedUsers.length > 0}" ng-disabled="selectedUsers.length === 0">Update</button>
        </div>
    </div>
    <umb-table ng-if="users.items"
               items="users.items"
               item-properties="tableOptions.itemProperties"
               on-click="tableOptions.onClick"
               on-select="tableOptions.onSelect"
               on-select-all="tableOptions.onSelectAll"
               on-selected-all="tableOptions.isSelectedAll"
               allow-select-all="tableOptions.bulkActionsAllowed">
    </umb-table>
</div>