<div class="bua bua--dashboard" ng-controller="Our.Umbraco.BulkUserAdmin.DashboardController">
    <div class="row-fluid">
        <umb-editor-sub-header>
            <umb-editor-sub-header-content-left>
                <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                    <umb-button type="button"
                                label="Clear selection"
                                label-key="buttons_clearSelection"
                                action="clearSelection()"
                                disabled="actionInProgress">
                    </umb-button>
                </umb-editor-sub-header-section>

                <umb-editor-sub-header-section ng-if="isAnythingSelected()">
                    <strong>{{ selectedItemsCount() }} <localize key="general_of">of</localize> {{ users.items.length }} <localize key="general_selected">selected</localize></strong>
                </umb-editor-sub-header-section>
            </umb-editor-sub-header-content-left>


            <umb-editor-sub-header-content-right>
                <umb-editor-sub-header-section ng-if="!isAnythingSelected()">
                    <form class="form-search -no-margin-bottom pull-right" novalidate>
                        <div class="inner-addon left-addon">
                            <i class="icon icon-search" ng-click="enterSearch($event)"></i>
                            <input class="form-control search-input"
                                   type="text"
                                   localize="placeholder"
                                   placeholder="@general_typeToSearch"
                                   ng-model="searchOptions.filter"
                                   ng-change="enterSearch()"
                                   ng-keydown="forceSearch($event)"
                                   prevent-enter-submit
                                   no-dirty-check>
                        </div>
                    </form>
                </umb-editor-sub-header-section>
        </umb-editor-sub-header>
    </div>

    <umb-table ng-if="users.items"
               items="users.items"
               item-properties="tableOptions.itemProperties"
               on-click="tableOptions.onClick"
               on-select="tableOptions.onSelect"
               on-select-all="tableOptions.onSelectAll"
               on-selected-all="tableOptions.isSelectedAll"
               allow-select-all="tableOptions.bulkActionsAllowed"
               on-sorting-direction="tableOptions.isSortDirection"
               on-sort="tableOptions.onSort">
    </umb-table>

    <div class="flex justify-center">
        <umb-pagination ng-if="users.totalPages"
                        page-number="users.pageNumber"
                        total-pages="users.totalPages"
                        on-next="paginationOptions.next"
                        on-prev="paginationOptions.prev"
                        on-go-to-page="paginationOptions.goToPage">
        </umb-pagination>
    </div>
</div>